<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav" style="display: flex; justify-content: space-between;">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"
        >Employee List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link"
        >Add Employee</a
      >
    </li>
    <div>
      <a routerLink="order">ORDER</a>
    </div>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
</div> -->
<router-outlet style="min-height: 100vh"></router-outlet>
<!-- 
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved Martin Emanuel</span>
  </div>
</footer> -->
